<IfModule mod_rewrite.c>
    RewriteEngine On

    # Only use this if your document root is NOT /public
    # Redirect all requests to the public folder
    # RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "^(\.env|\.git|composer\.json|artisan|server\.php|storage|vendor)">
    Order allow,deny
    Deny from all
</FilesMatch>
